.topicos {
    background: var(--gradiente-azul);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

    .topicos__titulo {
        text-transform: uppercase;
        color: var(--branco-principal);
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        line-height: normal;
    }

    .topicos__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .topicos__item {
        background-color: var(--cor-destaque);
        padding: 1rem 1.5rem;
    }

    .topicos__link {
        text-decoration: none;
        color: var(--branco-principal);
        font-size: 0.9rem;
        font-weight: 700;
        line-height: normal;
    }

@media screen and (min-width: 1024px) {
    .topicos__titulo, .topicos__link {
        font-size: 1.5rem;
    }
}